.tooltip-container {
  .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #e5e5e5;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #e5e5e5 transparent transparent transparent;
    }
  }
  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
